<p-dataTable [value]="service.stocks">
  <p-column field="id" header="id"></p-column>
  <p-column field="label" header="label"></p-column>
  <p-column>
    <ng-template pTemplate="header">
      Продуктов на складе
    </ng-template>
    <ng-template let-stock="rowData" pTemplate="body">
      {{stock|productsinstock}}
    </ng-template>
  </p-column>
  <p-column>
    <ng-template pTemplate="header">
      Общая стоимость товаров на складе.
    </ng-template>
    <ng-template let-stock="rowData" pTemplate="body">
      {{stock|costproductsinstock}}
    </ng-template>
  </p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      <button type="button" class="btn btn-success">Добавить склад</button>
    </ng-template>
    <ng-template let-stock="rowData" pTemplate="body">
      <a routerLink="/products/{{stock.id}}/edit" class="btn btn-info">Изменить</a>
      <a routerLink="/stocks/{{stock.id}}/view" class="btn btn-primary">Просмотреть</a>
    </ng-template>
  </p-column>
</p-dataTable>
