<form >
  <div class="form-group">
    <label for="InputId">Id</label>
    <input type="text" class="form-control" id="InputId" placeholder="Enter id" value="{{currentProduct.id}}" disabled>
  </div>
  <div class="form-group">
    <label for="InputLabel">Label</label>
    <input type="text" class="form-control" id="InputLabel" placeholder="Enter Label" value="{{currentProduct.label}}" disabled>
  </div>
  <a routerLink="/products/list" class="btn btn-primary">Закрыть</a>
</form>
