<form (ngSubmit)="updateProduct(editProductForm)" [formGroup]="editProductForm">
  <div class="form-group">
    <label for="InputLabel">Label</label>
    <input type="text" class="form-control" id="InputLabel"
           placeholder="Enter Label" formControlName="label">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!editProductForm.valid">Сохранить</button>
  <a routerLink="/products/list" class="btn btn-primary">Закрыть</a>
</form>
