<p-dataTable [value]="service.products">
  <p-column field="id" header="id"></p-column>
  <p-column field="label" header="label"></p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      <button type="button" class="btn btn-success" (click)="showAddForm()">Добавить продукт</button>
    </ng-template>
    <ng-template let-product="rowData" pTemplate="body">
      <a routerLink="/products/{{product.id}}/edit" class="btn btn-info">Изменить</a>
      <a routerLink="/products/{{product.id}}/view" class="btn btn-primary">Просмотреть</a>
    </ng-template>
  </p-column>
</p-dataTable>

<p-dialog header="Добавить продукт" [(visible)]="display" [width]="300">
  <form (ngSubmit)="addProduct(addProductForm)" [formGroup]="addProductForm">
    <div class="form-group">
      <label for="InputLabel">Label</label>
      <input type="text" class="form-control" id="InputLabel"
             placeholder="Enter Label" formControlName="label">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!addProductForm.valid">Сохранить</button>
    <button type="button" class="btn btn-primary" (click)="closeAddForm()">Закрыть</button>
  </form>
</p-dialog>

<p-confirmDialog header="Поздравляем" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Нет" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Да" (click)="showAddForm(cd)"></button>
  </p-footer>
</p-confirmDialog>
