<a routerLink="/stock/{{currentStock.id}}/add" class="btn btn-primary">Добавить товар на склад</a>

<strong class="first">id:{{currentStock.id}}</strong><strong >label:{{currentStock.label}}</strong>
<p-dataTable [value]="productsInStock" [loading]="true">
  <p-column field="id" header="id"></p-column>
  <p-column field="label" header="label"></p-column>
  <p-column field="count" header="Количество"></p-column>
  <p-column field="price" header="Цена"></p-column>
</p-dataTable>


<p-dataTable [value]="[1]" [loading]="true">
  <p-column>
    <ng-template pTemplate="header">
      Продуктов на складе
    </ng-template>
    <ng-template let-stock="rowData" pTemplate="body">
      {{currentStock|productsinstock}}
    </ng-template>
  </p-column>
  <p-column>
    <ng-template pTemplate="header">
      Общая стоимость товаров на складе.
    </ng-template>
    <ng-template let-stock="rowData" pTemplate="body">
      {{currentStock|costproductsinstock}}
    </ng-template>
  </p-column>
</p-dataTable>

