<router-outlet>
  <p-dialog header="Добавить продукт" [(visible)]="display" [width]="300">
    <form (ngSubmit)="addProduct(addProductForm)" [formGroup]="addProductForm">
      <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price"
               placeholder="Enter price" formControlName="price">
      </div>

      <div class="form-group">
        <label for="count">count</label>
        <input type="text" class="form-control" id="count"
               placeholder="Enter count" formControlName="count">
      </div>

      <p-dropdown [options]="serviceProducts.products" formControlName="selectedProduct" [style]="{'width':'150px'}" filter="true" #selectedProduct>
        <ng-template let-product pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:right;margin-top:4px">{{product.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </form>
    <button pButton type="button" (click)="addInStock(selectedProduct)" label="Добавить на склад" [disabled]="!addProductForm.valid"></button>
  </p-dialog>
</router-outlet>
